In [1]:
import pandas as pd

In [2]:
# Load files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [3]:
#Load data into a dataframe
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

In [4]:
# Combine school and data dataframes into a single dataframe
school_complete_df = pd.merge(student_df, school_df, how = "left", on = ["school_name", "school_name"])

In [5]:
def convert_boolean_to_numeric(bool_value):
    if bool_value == True:
        return 1
    else:
        return 0

In [6]:
pass_reading_flag = school_complete_df["reading_score"] >= 70

In [7]:
# Create a reading flag data frame to append to the school_complete_df
reading_pass_flag_df = pd.DataFrame(pass_reading_flag)

In [8]:
reading_pass_flag_df.rename(mapper = {"reading_score" : "reading_pass_flag"}, axis = "columns", inplace = True)

In [9]:
pass_math_flag = school_complete_df["math_score"] >= 70

In [10]:
# Create a reading flag data frame to append to the school_complete_df
math_flag_df = pd.DataFrame(pass_math_flag)

In [11]:
# Rename column header
math_flag_df.rename(mapper = {"math_score" : "math_pass_flag"}, axis = "columns", inplace = True)

In [12]:
# Create a series for teh overall passing flag
pass_overall = (pass_reading_flag & pass_math_flag)

In [13]:
# Create a pass overall dataframe 
pass_overall_df = pd.DataFrame(pass_overall, columns=["pass_overall_flag"])

In [14]:
# Create a dataframe that joins the reading dataframes
new_complete_school_df = school_complete_df.join(reading_pass_flag_df)

In [15]:
# Create a dataframe that joins the math dataframes
flagged_complete_school_df = new_complete_school_df.join(math_flag_df)

In [16]:
# Create a dataframe that joins the overall passing dataframes
flagged_complete_school_df = flagged_complete_school_df.join(pass_overall_df)

In [17]:
# Create a grouping based on the school name
schools = flagged_complete_school_df.groupby("school_name")

In [18]:
# Convert the boolen flags to numeric values in the reading pass data for later calculations
flagged_complete_school_df["reading_pass_flag"] = flagged_complete_school_df["reading_pass_flag"].apply(convert_boolean_to_numeric)

In [19]:
# Convert the boolen flags to numeric values in the math pass data for later calculations
flagged_complete_school_df["math_pass_flag"] = flagged_complete_school_df["math_pass_flag"].apply(convert_boolean_to_numeric)

In [20]:
# Convert the boolen flags to numeric values in the overall pass data for later calculations
flagged_complete_school_df["pass_overall_flag"] = flagged_complete_school_df["pass_overall_flag"].apply(convert_boolean_to_numeric)

In [21]:
# Calculate the total number of schools
total_schools = len(schools)

In [22]:
# Calculate the total budget
budget_df = schools.first()
total_budget = budget_df["budget"].sum()

In [23]:
# Calculat the total number of students
total_students = school_complete_df["Student ID"].count()

# Calculate the average reading score
avg_reading_score = school_complete_df["reading_score"].mean()

# Calculate the average math score
avg_math_score = school_complete_df["math_score"].mean()

# Calculate the % of students that have a passing reading score
read_filter = school_complete_df["reading_score"] >= 70
num_passed_reading = len(school_complete_df[read_filter])
percent_passing_reading = num_passed_reading / total_students

# Calculate the % of students that have a passing math score
math_filter = school_complete_df["math_score"] >= 70
num_passed_math = len(school_complete_df[math_filter])
percent_passing_math = num_passed_math / total_students

# Calculate the % of students that have a passing math and reading score
overall_filter = len(school_complete_df[read_filter & math_filter])
percent_passing_overall = overall_filter / total_students

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [24]:
# Create a dataframe to show the district summary
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
     "Total Students": [f'{total_students:,}'],
     "Total Budget" : [f'${total_budget:,}'],
     "Avg Math Score" : [f'{(avg_math_score / 100):.2%}'],
     "Avg Reading Score" : [f'{(avg_reading_score / 100):.2%}'],
     "% Passing Math" : [f'{(percent_passing_math):.2%}'],
     "% Passing Reading" : [f'{percent_passing_reading:.2%}'],
     "% Overall Passing" : [f'{percent_passing_overall:.2%}']
     }
)

district_summary_df

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

In [25]:
type_budget_df = schools[["type", "budget"]].first()

In [26]:
# Calculate the values for each column using the agg function
school_summary1_df = schools.agg({"type" : "first",
                                 "Student ID" : "count",
                                 "budget" : "first",
                                 "math_score" : "mean",
                                 "reading_score" : "mean",
                                 "reading_pass_flag" : "sum",
                                 "math_pass_flag" : "sum",
                                 "pass_overall_flag" : "sum"})

# Rename the column headers
school_summary1_df.rename(mapper = {"type" : "School Type",
                                    "Student ID" : "Total Students",
                                    "budget" : "Total School Budget",
                                    "math_score" : "Average Math Score",
                                    "reading_score" : "Average Reading Score",
                                    "reading_pass_flag" : "Total Students Passing Reading",
                                    "math_pass_flag" : "Total Students Passing Math",
                                    "pass_overall_flag" : "Total Students Passing Overall"}, axis = "columns", inplace = True)

In [27]:
# Calculate the budget per student
budget_student = school_summary1_df["Total School Budget"] / school_summary1_df["Total Students"]

# Calculate the passing percentages for each school
percent_passing_math = (school_summary1_df["Total Students Passing Math"] / school_summary1_df["Total Students"])
percent_passing_reading = (school_summary1_df["Total Students Passing Reading"] / school_summary1_df["Total Students"])
percent_passing_overall = (school_summary1_df["Total Students Passing Overall"] / school_summary1_df["Total Students"])

# Convert the budget per student series into a data frame
budget_student_df = pd.DataFrame({"Per Student Budget" :budget_student,
                                  "% Passing Math" : percent_passing_math,
                                  "% Passing Reading" : percent_passing_reading,
                                  "% Overall Passing" : percent_passing_overall})

In [28]:
# Join the Per Student Budget data column to the data frame using a .join method
new_school_summary_df = school_summary1_df.join(budget_student_df)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [29]:
# Set the column order for the updated data frame
column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Apply the column order to the new data frame and save with a new dataframe name
school_summary_with_budget_df = new_school_summary_df.reindex(columns = column_order)
school_summary_with_budget_df

# Apply formatting
school_summary_with_budget_df[["Average Math Score", "Average Reading Score"]] = \
school_summary_with_budget_df[["Average Math Score", "Average Reading Score"]] / 100

school_summary_with_budget_style_df = school_summary_with_budget_df.style.format({"Total Students" : "{:,}",
                                                                                  "Total School Budget" : "${:,}",
                                                                                  "Per Student Budget" : "${:.2f}",
                                                                                  "Average Math Score" : "{:.2%}",
                                                                                  "Average Reading Score" : "{:.2%}",
                                                                                  "% Passing Math" : "{:.2%}",
                                                                                  "% Passing Reading" : "{:.2%}",
                                                                                  "% Overall Passing" : "{:.2%}"                                           
                                                                                  })

school_summary_with_budget_style_df

## Top Performing Schools (By % Overall Passing)

In [30]:
# Sort the dataframe to find the top schools
top_school_summary_with_budget_df = school_summary_with_budget_df.sort_values("% Overall Passing", ascending = False).head(5)

# Apply Formatting
top_school_summary_with_budget_df = top_school_summary_with_budget_df.style.format({"Total Students" : "{:,}",
                                                                                          "Total School Budget" : "${:,}",
                                                                                          "Per Student Budget" : "${:.2f}",
                                                                                          "Average Math Score" : "{:.2%}",
                                                                                          "Average Reading Score" : "{:.2%}",
                                                                                          "% Passing Math" : "{:.2%}",
                                                                                          "% Passing Reading" : "{:.2%}",
                                                                                          "% Overall Passing" : "{:.2%}"                                           
                                                                                          })

top_school_summary_with_budget_df

## Bottom Performing Schools (By % Overall Passing)

In [31]:
# Sort the dataframe to fine the bottom schools
bottom_school_summary_with_budget_df = school_summary_with_budget_df.sort_values("% Overall Passing", ascending = True).head(5)


# Apply Formatting
bottom_school_summary_with_budget_df = bottom_school_summary_with_budget_df.style.format({"Total Students" : "{:,}",
                                                                                          "Total School Budget" : "${:,}",
                                                                                          "Per Student Budget" : "${:.2f}",
                                                                                          "Average Math Score" : "{:.2%}",
                                                                                          "Average Reading Score" : "{:.2%}",
                                                                                          "% Passing Math" : "{:.2%}",
                                                                                          "% Passing Reading" : "{:.2%}",
                                                                                          "% Overall Passing" : "{:.2%}"                                           
                                                                                          })

bottom_school_summary_with_budget_df

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
# Reset the datafame index to use the school name
flagged_school_df = flagged_complete_school_df.set_index("school_name")

In [33]:
# Create a series for ninth grade math scores
nine = flagged_school_df['grade'] == '9th'
ninth_grade = flagged_school_df[nine]
ninth_grade = ninth_grade['math_score']

In [34]:
#Create a DataFrame for ninth grade math scores
ninth_grade_df = pd.DataFrame(ninth_grade)

In [35]:
# Rename the column name
ninth_grade_df.rename(mapper = {'math_score': '9th'}, axis = 'columns', inplace = True)

In [36]:
# Group by school
ninth_grade_df = ninth_grade_df.groupby("school_name")

In [37]:
# Get the average math score by school
ninth = ninth_grade_df["9th"].mean()

In [38]:
# Recreate the DataFrame summarized by school
ninth_grade_df = pd.DataFrame(ninth)

In [39]:
# Create a series for tenth grade math scores
ten = flagged_school_df['grade'] == '10th'
tenth_grade = flagged_school_df[ten]
tenth_grade = tenth_grade['math_score']

In [40]:
# Create a DataFrame for tenth grade math scores
tenth_grade_df = pd.DataFrame(tenth_grade)

In [41]:
# Rename the column
tenth_grade_df.rename(mapper = {"math_score" : "10th"}, axis = "columns", inplace = True)

In [42]:
# Group by school
tenth_grade_df = tenth_grade_df.groupby("school_name")

In [43]:
# Get the average math score by school
tenth = tenth_grade_df["10th"].mean()

In [44]:
# Recreate the DataFrame summarized by school
tenth_grade_df = pd.DataFrame(tenth)

In [45]:
# Create a series for eleventh grade math scores
eleven = flagged_school_df['grade'] == '11th'
eleventh_grade = flagged_school_df[eleven]
eleventh_grade = eleventh_grade['math_score']

In [46]:
# Create a DataFrame for eleventh  grade math scores
eleventh_grade_df = pd.DataFrame(eleventh_grade)

In [47]:
# Rename the column
eleventh_grade_df.rename(mapper = {"math_score" : "11th"}, axis = "columns", inplace = True)

In [48]:
# Group by school
eleventh_grade_df = eleventh_grade_df.groupby("school_name")

In [49]:
# Get the average math score by school
eleventh = eleventh_grade_df["11th"].mean()

In [50]:
# Recreate the DataFrame summarized by school
eleventh_grade_df = pd.DataFrame(eleventh)

In [51]:
# Create a series for twelfth grade math scores
twelve = flagged_school_df['grade'] == '12th'
twelfth_grade = flagged_school_df[twelve]
twelfth_grade = twelfth_grade['math_score']

In [52]:
# Create a DataFrame for twelfth grade math scores
twelfth_grade_df = pd.DataFrame(twelfth_grade)

In [53]:
# Rename the column
twelfth_grade_df.rename(mapper = {"math_score" : "12th"}, axis = "columns", inplace = True)

In [54]:
# Group by school
twelfth_grade_df = twelfth_grade_df.groupby("school_name")

In [55]:
# Get the average math score by school
twelfth = twelfth_grade_df["12th"].mean()

In [56]:
# Recreate the DataFrame summarized by school
twelfth_grade_df = pd.DataFrame(twelfth)

In [57]:
# Join the 9th and 10th grade columns together
math_scores_by_grade_df = ninth_grade_df.join(tenth_grade_df)

In [58]:
# Join the 11th grade column
math_scores_by_grade_df = math_scores_by_grade_df.join(eleventh_grade_df)

In [59]:
# Join the 12th grade column
math_scores_by_grade_df = math_scores_by_grade_df.join(twelfth_grade_df)

In [60]:
math_scores_by_grade_df = math_scores_by_grade_df[["9th", "10th", "11th", "12th"]] / 100
math_scores_by_grade_df = math_scores_by_grade_df.style.format('{:.2%}')     
math_scores_by_grade_df

## Reading Scores by Grade

In [61]:
# Create a series for ninth grade reading scores
nine = flagged_school_df['grade'] == '9th'
ninth_grade = flagged_school_df[nine]
ninth_grade = ninth_grade['reading_score']

In [62]:
#Create a DataFrame for ninth grade reading scores
ninth_grade_df = pd.DataFrame(ninth_grade)

In [63]:
# Rename the column name
ninth_grade_df.rename(mapper = {'reading_score': '9th'}, axis = 'columns', inplace = True)

In [64]:
# Group by school
ninth_grade_df = ninth_grade_df.groupby("school_name")

In [65]:
# Get the average reading score by school
ninth = ninth_grade_df["9th"].mean()

In [66]:
# Recreate the DataFrame summarized by school
ninth_grade_df = pd.DataFrame(ninth)

In [67]:
# Create a series for tenth grade reading scores
ten = flagged_school_df['grade'] == '10th'
tenth_grade = flagged_school_df[ten]
tenth_grade = tenth_grade['reading_score']

In [68]:
# Create a DataFrame for tenth grade reading scores
tenth_grade_df = pd.DataFrame(tenth_grade)

In [69]:
# Rename the column
tenth_grade_df.rename(mapper = {"reading_score" : "10th"}, axis = "columns", inplace = True)

In [70]:
# Group by school
tenth_grade_df = tenth_grade_df.groupby("school_name")

In [71]:
# Get the average reading score by school
tenth = tenth_grade_df["10th"].mean()

In [72]:
# Recreate the DataFrame summarized by school
tenth_grade_df = pd.DataFrame(tenth)

In [73]:
# Create a series for eleventh grade reading scores
eleven = flagged_school_df['grade'] == '11th'
eleventh_grade = flagged_school_df[eleven]
eleventh_grade = eleventh_grade['reading_score']

In [74]:
# Create a DataFrame for eleventh  grade reading scores
eleventh_grade_df = pd.DataFrame(eleventh_grade)

In [75]:
# Rename the column
eleventh_grade_df.rename(mapper = {"reading_score" : "11th"}, axis = "columns", inplace = True)

In [76]:
# Group by school
eleventh_grade_df = eleventh_grade_df.groupby("school_name")

In [77]:
# Get the average reading score by school
eleventh = eleventh_grade_df["11th"].mean()

In [78]:
# Recreate the DataFrame summarized by school
eleventh_grade_df = pd.DataFrame(eleventh)

In [79]:
# Create a series for twelfth grade reading scores
twelve = flagged_school_df['grade'] == '12th'
twelfth_grade = flagged_school_df[twelve]
twelfth_grade = twelfth_grade['reading_score']

In [80]:
# Create a DataFrame for twelfth grade reading scores
twelfth_grade_df = pd.DataFrame(twelfth_grade)

In [81]:
# Rename the column
twelfth_grade_df.rename(mapper = {"reading_score" : "12th"}, axis = "columns", inplace = True)

In [82]:
# Group by school
twelfth_grade_df = twelfth_grade_df.groupby("school_name")

In [83]:
# Get the average reading score by school
twelfth = twelfth_grade_df["12th"].mean()

In [84]:
# Recreate the DataFrame summarized by school
twelfth_grade_df = pd.DataFrame(twelfth)

In [85]:
# Join the 9th and 10th grade columns together
reading_scores_by_grade_df = ninth_grade_df.join(tenth_grade_df)

In [86]:
# Join the 11th grade column
reading_scores_by_grade_df = reading_scores_by_grade_df.join(eleventh_grade_df)

In [87]:
# Join the 12th grade column
reading_scores_by_grade_df = reading_scores_by_grade_df.join(twelfth_grade_df)

In [88]:
reading_scores_by_grade_df = reading_scores_by_grade_df[["9th", "10th", "11th", "12th"]] / 100
reading_scores_by_grade_df = reading_scores_by_grade_df.style.format('{:.2%}')     
reading_scores_by_grade_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [89]:
# Define a function that will create a spending range based on the budget per student
def spending_range(num1):
    if num1 >= 645:
        sp_range = "$645-675"
    elif num1 >= 630:
        sp_range = "$630-644"
    elif num1 >= 585:
        sp_range = "$585-629"
    else:
        sp_range = "<$584"
        
    return sp_range

In [90]:
# Use the existing df and give it a new name with the new columns
school_scores_df = flagged_school_df

In [91]:
# Calculate the budget per school
budget_per_school = school_scores_df["budget"] / school_scores_df["size"]

# Add 2 new columns to the dataframe and populuate the values
school_scores_df["Spending"] = budget_per_school
school_scores_df["Spending Category"] = school_scores_df["Spending"].apply(spending_range)

In [92]:
# Group the dataframe by the new spending category created above
spending_category_df = school_scores_df.groupby("Spending Category")

In [93]:
# Calculate total students per category
total_students_per_category = spending_category_df["Spending Category"].count()

# Calculate the average math score
avg_math_score = spending_category_df["math_score"].mean()

# Calculate the average reading score
avg_reading_score = spending_category_df["reading_score"].mean()

# Calculate the passing percentages for each school
percent_passing_math = spending_category_df["math_pass_flag"].sum() / total_students_per_category
percent_passing_reading = spending_category_df["reading_pass_flag"].sum() / total_students_per_category
percent_passing_overall = spending_category_df["pass_overall_flag"].sum() / total_students_per_category

# Convert the budget per student series into a data frame
spending_category_df = pd.DataFrame({"Average Math Score" : avg_math_score,
                                     "Average Reading Score" : avg_reading_score,
                                     "% Passing Math" : percent_passing_math,
                                     "% Passing Reading" : percent_passing_reading,
                                     "% Overall Passing" : percent_passing_overall})

spending_category_df.sort_values("Spending Category", inplace = True, ascending = False)

In [94]:
# Apply % formatting and update dataframe
spending_category_df[['Average Math Score', 'Average Reading Score']] = spending_category_df[['Average Math Score', 'Average Reading Score']] / 100 

# Change the order of the rows to show the spending category in order
spending_category_df = spending_category_df.reindex(["<$584", "$585-629", "$630-644", "$645-675"], axis = "rows")
spending_category_df

#Apply formatting
spending_category_df.style.format('{:.2%}')

## Scores by School Size

In [95]:
# Define a function that will create a school size category based on student population
def school_size(num1):
    if num1 >= 2000:
        size_group = "Large (2000-5000)"
    elif num1 >= 1000:
        size_group = "Medium (1000-2000)"
    else:
        size_group = "Small (<1000)"    
        
    return size_group

In [96]:
# Use the existing df and give it a new name with the new columns
school_size_df = flagged_school_df

In [97]:
# Add 2 new columns to the dataframe and populuate the values
school_size_df["Spending Ranges (Per Student)"] = school_size_df["size"].apply(school_size)

In [98]:
# Group the dataframe by the new school size category created above
school_size_df = school_size_df.groupby("Spending Ranges (Per Student)")

In [99]:
# Calculate total students per category
total_students_per_category = school_size_df["Spending Ranges (Per Student)"].count()

# Calculate the average math score
avg_math_score = school_size_df["math_score"].mean()

# Calculate the average reading score
avg_reading_score = school_size_df["reading_score"].mean()

# Calculate the passing percentages for each school
percent_passing_math = (school_size_df["math_pass_flag"].sum() / total_students_per_category) * 100
percent_passing_reading = (school_size_df["reading_pass_flag"].sum() / total_students_per_category) * 100
percent_passing_overall = (school_size_df["pass_overall_flag"].sum() / total_students_per_category) * 100

# Convert the budget per student series into a data frame
school_size_df = pd.DataFrame({"Average Math Score" : avg_math_score,
                                     "Average Reading Score" : avg_reading_score,
                                     "% Passing Math" : percent_passing_math,
                                     "% Passing Reading" : percent_passing_reading,
                                     "% Overall Passing" : percent_passing_overall})

school_size_df.sort_values("Spending Ranges (Per Student)", inplace = True, ascending = False)

In [100]:
school_size_df = school_size_df / 100
school_size_df = school_size_df.style.format('{:.2%}')
school_size_df

## Scores by School Type

In [101]:
# Group the dataframe by the Charter and District categories
school_type_df = flagged_school_df.groupby("type")

In [102]:
# Calculate total students per category
total_students_per_category = school_type_df["type"].count()

# Calculate the average math score
avg_math_score = school_type_df["math_score"].mean()

# Calculate the average reading score
avg_reading_score = school_type_df["reading_score"].mean()

# Calculate the passing percentages for each school
percent_passing_math = (school_type_df["math_pass_flag"].sum() / total_students_per_category) * 100
percent_passing_reading = (school_type_df["reading_pass_flag"].sum() / total_students_per_category) * 100
percent_passing_overall = (school_type_df["pass_overall_flag"].sum() / total_students_per_category) * 100

# Convert the budget per student series into a data frame
school_type_df = pd.DataFrame({"Average Math Score" : avg_math_score,
                                     "Average Reading Score" : avg_reading_score,
                                     "% Passing Math" : percent_passing_math,
                                     "% Passing Reading" : percent_passing_reading,
                                     "% Overall Passing" : percent_passing_overall})

school_type_df.sort_values("type", inplace = True, ascending = True)

In [103]:
school_type_df = school_type_df / 100
school_type_df = school_type_df.style.format("{:.2%}")
school_type_df