In [ ]:
import pandas as pd

In [ ]:
# Load files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [ ]:
#Load data into a dataframe
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

In [ ]:
school_df.head(2)

In [ ]:
student_df.head(2)

In [ ]:
# Combine school and data dataframes into a single dataframe
school_complete_df = pd.merge(student_df, school_df, how = "left", on = ["school_name", "school_name"])
school_complete_df.head(3)

In [160]:
def convert_boolean_to_numeric(bool_value):
    if bool_value == True:
        return 1
    else:
        return 0

In [161]:
pass_reading_flag = school_complete_df["reading_score"] >= 70
pass_reading_flag

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [162]:
# Create a reading flag data frame to append to the school_complete_df
reading_pass_flag_df = pd.DataFrame(pass_reading_flag)
reading_pass_flag_df

       reading_score
0              False
1               True
2               True
3              False
4               True
...              ...
39165           True
39166           True
39167           True
39168           True
39169           True

[39170 rows x 1 columns]

In [163]:
reading_flag_df.rename(mapper = {"reading_score" : "reading_pass_flag"}, axis = "columns", inplace = True)
reading_flag_df.head(3)

   reading_pass_flag
0              False
1               True
2               True

In [ ]:
pass_math_flag = school_complete_df["math_score"] >= 70
pass_math_flag.head

In [165]:
# Create a reading flag data frame to append to the school_complete_df
math_flag_df = pd.DataFrame(pass_math_flag)
math_flag_df

       math_score
0            True
1           False
2           False
3           False
4            True
...           ...
39165        True
39166        True
39167        True
39168        True
39169        True

[39170 rows x 1 columns]

In [166]:
math_flag_df.rename(mapper = {"math_score" : "math_pass_flag"}, axis = "columns", inplace = True)
math_flag_df.head(3)

   math_pass_flag
0            True
1           False
2           False

In [203]:
pass_overall = (pass_reading_flag & pass_math_flag)
pass_overall

0        False
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Length: 39170, dtype: bool

In [213]:
pass_overall_df = pd.DataFrame(pass_overall, columns=["pass_overall_flag"])
pass_overall_df.head(3)

   pass_overall_flag
0              False
1              False
2              False

In [214]:
new_complete_school_df = school_complete_df.join(reading_flag_df)

In [215]:
flagged_complete_school_df = new_complete_school_df.join(math_flag_df)

In [216]:
flagged_complete_school_df = flagged_complete_school_df.join(pass_overall_df)
flagged_complete_school_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_pass_flag,math_pass_flag,pass_overall_flag
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,True

In [217]:
# # Create a grouping based on the school name
schools = flagged_complete_school_df.groupby("school_name")

In [218]:
flagged_complete_school_df["reading_pass_flag"] = flagged_complete_school_df["reading_pass_flag"].apply(convert_boolean_to_numeric)

In [219]:
flagged_complete_school_df["math_pass_flag"] = flagged_complete_school_df["math_pass_flag"].apply(convert_boolean_to_numeric)

In [221]:
flagged_complete_school_df["pass_overall_flag"] = flagged_complete_school_df["pass_overall_flag"].apply(convert_boolean_to_numeric)
flagged_complete_school_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_pass_flag,math_pass_flag,pass_overall_flag
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,0,1,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,1,0,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,1,0,0

In [175]:
# Calculate the total number of schools
total_schools = len(schools)

In [176]:
# Calculate the total budget
budget_df = schools.first()
total_budget = budget_df["budget"].sum()

In [177]:
# Calculat the total number of students
total_students = school_complete_df["Student ID"].count()

# Calculate the average reading score
avg_reading_score = school_complete_df["reading_score"].mean()

# Calculate the average math score
avg_math_score = school_complete_df["math_score"].mean()

# Calculate the % of students that have a passing reading score
read_filter = school_complete_df["reading_score"] >= 70
num_passed_reading = len(school_complete_df[read_filter])
percent_passing_reading = num_passed_reading / total_students

# Calculate the % of students that have a passing math score
math_filter = school_complete_df["math_score"] >= 70
num_passed_math = len(school_complete_df[math_filter])
percent_passing_math = num_passed_math / total_students

# Calculate the % of students that have a passing math and reading score
overall_filter = len(school_complete_df[read_filter & math_filter])
percent_passing_overall = overall_filter / total_students

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [178]:
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
     "Total Students": [f'{total_students:,}'],
     "Total Budget" : [f'${total_budget:,}'],
     "Avg Math Score" : [f'{(avg_math_score / 100):.2%}'],
     "Avg Reading Score" : [f'{(avg_reading_score / 100):.2%}'],
     "% Passing Math" : [f'{(percent_passing_math):.2%}'],
     "% Passing Reading" : [f'{percent_passing_reading:.2%}'],
     "% Overall Passing" : [f'{percent_passing_overall:.2%}']
     }
)

district_summary_df

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

In [222]:
flagged_complete_school_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_pass_flag,math_pass_flag,pass_overall_flag
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,0,1,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,1,0,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,1,0,0

In [180]:
type_budget_df = schools[["type", "budget"]].first()
type_budget_df.head(3)

                          type   budget
school_name
Bailey High School    District  3124928
Cabrera High School    Charter  1081356
Figueroa High School  District  1884411

In [223]:
# Calculate the values for each column using the agg function
school_summary1_df = schools.agg({"type" : "first",
                                 "Student ID" : "count",
                                 "budget" : "first",
                                 "math_score" : "mean",
                                 "reading_score" : "mean",
                                 "reading_pass_flag" : "sum",
                                 "math_pass_flag" : "sum",
                                 "pass_overall_flag" : "sum"})

# Rename the column headers
school_summary1_df.rename(mapper = {"type" : "School Type",
                                    "Student ID" : "Total Students",
                                    "budget" : "Total School Budget",
                                    "math_score" : "Average Math Score",
                                    "reading_score" : "Average Reading Score",
                                    "reading_pass_flag" : "Total Students Passing Reading",
                                    "math_pass_flag" : "Total Students Passing Math",
                                    "pass_overall_flag" : "Total Students Passing Overall"}, axis = "columns", inplace = True)

school_summary1_df.head(3)

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Total Students Passing Reading,Total Students Passing Math,Total Students Passing Overall
school_name,,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,4077,3318,2719
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,1803,1749,1697
Figueroa High School,District,2949,1884411,76.711767,81.158020,2381,1946,1569

In [226]:
# Calculate the budget per student
budget_student = school_summary1_df["Total School Budget"] / school_summary1_df["Total Students"]

# Calculate the passing percentages for each school
percent_passing_math = school_summary1_df["Total Students Passing Math"] / school_summary1_df["Total Students"]
percent_passing_reading = school_summary1_df["Total Students Passing Reading"] / school_summary1_df["Total Students"]
percent_passing_overall = school_summary1_df["Total Students Passing Overall"] / school_summary1_df["Total Students"]

# Convert the budget per student series into a data frame
budget_student_df = pd.DataFrame({"Per Student Budget" :budget_student,
                                  "% Passing Math" : percent_passing_math,
                                  "% Passing Reading" : percent_passing_reading,
                                  "% Overall Passing" : percent_passing_overall})
budget_student_df.head(3)

,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,
Bailey High School,628.0,0.666801,0.819333,0.546423
Cabrera High School,582.0,0.941335,0.970398,0.913348
Figueroa High School,639.0,0.659885,0.807392,0.532045

In [227]:
# Join the Per Student Budget data column to the data frame using a .join method
new_school_summary_df = school_summary1_df.join(budget_student_df)
new_school_summary_df.head(3)

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Total Students Passing Reading,Total Students Passing Math,Total Students Passing Overall,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,4077,3318,2719,628.0,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,1803,1749,1697,582.0,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,76.711767,81.158020,2381,1946,1569,639.0,0.659885,0.807392,0.532045

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [229]:
# Set the column order for the updated data frame
column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Apply the column order to the new data frame and save with a new dataframe name
school_summary_with_budget_df = new_school_summary_df.reindex(columns = column_order)
school_summary_with_budget_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

In [232]:
school_summary_with_budget_df.sort_values("% Overall Passing", ascending = False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

In [234]:
school_summary_with_budget_df.sort_values("% Overall Passing", ascending = True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [418]:
flagged_school_df = flagged_complete_school_df.set_index("school_name")
flagged_school_df.head(3)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,reading_pass_flag,math_pass_flag,pass_overall_flag
school_name,,,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,0,1,0
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,1,0,0
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,1,0,0

In [419]:
# Create a series for ninth grade math scores
nine = flagged_school_df['grade'] == '9th'
ninth_grade = flagged_school_df[nine]
ninth_grade = ninth_grade['math_score']

In [420]:
#Create a DataFrame for ninth grade math scores
ninth_grade_df = pd.DataFrame(ninth_grade)

In [421]:
# Rename the column name
ninth_grade_df.rename(mapper = {'math_score': '9th'}, axis = 'columns', inplace = True)

In [422]:
# Group by school
ninth_grade_df = ninth_grade_df.groupby("school_name")

In [423]:
# Get the average math score by school
ninth = ninth_grade_df["9th"].mean()

In [424]:
# Recreate the DataFrame summarized by school
ninth_grade_df = pd.DataFrame(ninth)

In [425]:
# Create a series for tenth grade math scores
ten = flagged_school_df['grade'] == '10th'
tenth_grade = flagged_school_df[ten]
tenth_grade = tenth_grade['math_score']

In [426]:
# Create a DataFrame for tenth grade math scores
tenth_grade_df = pd.DataFrame(tenth_grade)

In [427]:
# Rename the column
tenth_grade_df.rename(mapper = {"math_score" : "10th"}, axis = "columns", inplace = True)

In [428]:
# Group by school
tenth_grade_df = tenth_grade_df.groupby("school_name")

In [429]:
# Get the average math score by school
tenth = tenth_grade_df["10th"].mean()

In [445]:
# Recreate the DataFrame summarized by school
tenth_grade_df = pd.DataFrame(tenth)

In [446]:
# Create a series for eleventh grade math scores
eleven = flagged_school_df['grade'] == '11th'
eleventh_grade = flagged_school_df[eleven]
eleventh_grade = eleventh_grade['math_score']

In [447]:
# Create a DataFrame for eleventh  grade math scores
eleventh_grade_df = pd.DataFrame(eleventh_grade)

In [448]:
# Rename the column
eleventh_grade_df.rename(mapper = {"math_score" : "11th"}, axis = "columns", inplace = True)

In [449]:
# Group by school
eleventh_grade_df = eleventh_grade_df.groupby("school_name")

In [450]:
# Get the average math score by school
eleventh = eleventh_grade_df["11th"].mean()

In [451]:
# Recreate the DataFrame summarized by school
eleventh_grade_df = pd.DataFrame(eleventh)

In [452]:
# Create a series for twelfth grade math scores
twelve = flagged_school_df['grade'] == '12th'
twelfth_grade = flagged_school_df[twelve]
twelfth_grade = twelfth_grade['math_score']

In [453]:
# Create a DataFrame for twelfth grade math scores
twelfth_grade_df = pd.DataFrame(twelfth_grade)

In [454]:
# Rename the column
twelfth_grade_df.rename(mapper = {"math_score" : "12th"}, axis = "columns", inplace = True)

In [455]:
# Group by school
twelfth_grade_df = twelfth_grade_df.groupby("school_name")

In [456]:
# Get the average math score by school
twelfth = twelfth_grade_df["12th"].mean()

In [462]:
# Recreate the DataFrame summarized by school
twelfth_grade_df = pd.DataFrame(twelfth)

In [463]:
# Join the 9th and 10 columns together
math_scores_by_grade_df = ninth_grade_df.join(tenth_grade_df)

In [464]:
# Join the 11th grade column
math_scores_by_grade_df = math_scores_by_grade_df.join(eleventh_grade_df)

In [465]:
# Join the 12th grade column
math_scores_by_grade_df = math_scores_by_grade_df.join(twelfth_grade_df)

In [466]:
math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986